:root {
    --shell-background: rgb(0,0,0);
    --card-background: rgb(26,26,26);
    --text-main-color: rgb(255,255,255);
    --text-secondary-color: rgb(191,191,191);
    --accent-color: rgb(242,194,75);
}
